body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

.box{
    height: 50px;
    width: 600px;
    border-radius: 25px;
    background-color: rgb(181, 181, 140)
}

.ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-top-right-radius: 0px;
    background-color: rgb(56, 23, 23);
    transition: 2s ease;
}

.move{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    background-color: rgb(172, 16, 16);

    transform: translateX(550px) ;  
}

button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    margin-top: 5px;
    background-color: rgb(181, 181, 140);
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover{
    background-color: rgb(128, 128, 103);
}